




* {
    box-sizing: border-box;
}




h1 {
    font-size: 36px;
    margin-bottom: 30px;
    padding-left: 20px;
    text-align: center
    ;
}


.contenedor-columnas {
    display: flex;
   
    flex-direction: column; 
    gap: 40px; 
    margin: 0 auto;
    padding: 2em;
    
    max-width: 1000px; 
    width: 100%; 

    background: #363636cc;
    text-align: center;
    border-radius: 10px;
    position: relative;
}


.columna-izquierda {
    
    width: 100%; 
    text-align: left; 
}

.columna-derecha {
   
    width: 100%; 
    text-align: left; 
}

.columna-izquierda h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.mapa-contenedor-responsive {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-bottom: 100%; 
    border: 1px solid #777;
    margin-bottom: 10px;
    background-color: #555;
}

.mapa-contenedor-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


.enlace-ampliar {
    color: #4da6ff; 
    text-decoration: none;
    font-size: 14px;
    display: block; 
}

.titulo-dato {
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 5px;
}

.dato {
    font-size: 18px;
    margin: 0 0 10px 0;
}



   
@media (min-width: 768px) {

    
    .contenedor-columnas {
        flex-direction: row;
        text-align: left; 
    }

    
    .columna-izquierda {
        flex: 1; 
        max-width: 50%;
    }

    .columna-derecha {
        flex: 1; 
        max-width: 50%;
    }
}



