* {
    margin:0; 
    padding: 0; 
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;



}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
      color: skyblue;
}


.main {
    flex: 1;
}
body {
    background: linear-gradient(
       90deg, 
        rgb(255, 255, 255) 30%,
        rgba(255, 255, 255, 0.8) 70%
        
        
    );
    font-family: Arial, Helvetica, sans-serif;

.container {
    max-width: 1100px;
    margin: 0 auto;
    }

   .back{padding: 50px 0;
    position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgb(0, 159, 199);

    }
.menu{
    position: relative;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
     align-items: center;
     justify-content: space-between;
     z-index: 1000;
     background-color: rgb(0, 159, 199); /* Asegura que tenga fondo */
     

}
.logo{
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: 800 ;
    text-transform: uppercase;
    height: 90px;;
    
}

    .menu .navbar ul li {position: relative;
        float: left;

    }
    .menu .navbar ul li a{
      font-size: 18px;
      padding: 20px;  
      color: white;
      display: block;
    } 
    .menu .navbar ul li a:hover{
      
    color:#ff8800;
    } 

    #menu{ display: none;}

    .menu-icono{
        width:25px;
    }
    .menu label{
        cursor: pointer;
        display: none;
    }
    @media (max-width: 768px){
        .menu label{
            position: absolute;
  top: 40%;

  right: 20px;
  display: block;
  z-index: 1001;

        }
        .menu .navbar{
            position: absolute;
            top: 105px;
            left: 0;
            width: 100%;
            background: rgb(0, 159, 199);
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.3s ease-out;
        }
        .menu .navbar ul{
            flex-direction: column;
        }
        .menu .navbar ul li{
            width: 100%;
            text-align: center;
        }
        .menu #menu:checked ~ .navbar{
            max-height: 300px;
        }




}

 
}

#carouselExampleControls {
  margin-top: 100px;

}

.carousel-control-next-icon {
  display: none;
}

.carousel-control-prev-icon {
  display: none;
}


 


/*reseña historica*/

.reseña{
    background: linear-gradient( rgba(41, 41, 41, 0.425)), url('../vaca.jpg');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    padding: 5%;
    position: relative;
    z-index: -1;
    border-bottom: solid 5px #ff8800;
    justify-content: center;

}


*{
  margin: 0;
  padding: 0;  
}
html{
  font-family: Poppins;
  color: #f0f0f0;
}
body{

  min-height: 100vh;
  color: #ffffff;
  align-content: center;
    text-shadow: 1px 1px 1px #333;
}
h1, h4{
  color: white;
  text-shadow: 1px 1px 1px #333;
}
.card{
  font-size: 85%;
  margin-left: 2%;
  padding: 3em;
  width: 30%;
  min-width: 300px;
  max-width: 400px;
  background: #272c26;
  text-align: center;
  border-radius: 10px;
  position: relative;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after, .card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #e97100, #00fffb, #e97100);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  border-radius: 20px;
  animation: 3s spin linear infinite;
}
.card::before{
  filter: blur(1.5rem);
  opacity: 10;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}






/*producros*/
.cierre{
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  gap: 20%;
  align-content: center;
  font-size: 1.5em;
  background: linear-gradient( rgba(41, 41, 41, 0.705)), url(../comida.jpg);
  background-repeat: no-repeat;
  background-position: 0;
  background-size: cover;
  border-bottom: solid 5px #ff8800;
}



/*contactos*/

.scontact{
  background: linear-gradient( rgba(41, 41, 41, 0.705)), url(../mapa.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 5%;
}

.scontact h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3vw;
  color: white;

}



.titulo {
    background-image: url(../PROD/guaralact.jpg);
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-size: cover;
    color: white;
    align-content: center;
      -webkit-text-stroke: 2.5px rgb(0, 159, 199);
      border-bottom: 4px solid #ff8800;
}







/* Pie de pagina */

.pie{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    padding: auto;
    margin-top: 15px;

    

}

        :root {

        --primary-color: #00c3ff;
        --secondary-color: #ff8800;
        --text-color: #333;
        --white: #fff;
        --shadow: 0 2px 10px rgba(0,0,0,0.1);
        --border-radius: 10px;
        --transition: all 0.3s ease;

    }

    .email-contact {

        margin-bottom: 2em;

    }


    .email-contact a {

        color: var(--secondary-color);

        text-decoration: none;

        font-weight: bold;

        font-size: 1.2em;

        transition: var(--transition);

        display: inline-block;

        padding: 8px 15px;

        border-radius: 5px;

        background: rgba(255, 255, 255, 0.2);

    }


    .email-contact a:hover {

        background: var(--secondary-color);

        color: var(--white);

        transform: translateY(-3px);

    }
    


.logopie img{
    max-height: 100px;
    max-width: 280px;
    min-width: 160px;
    min-height: 50px;
}